.doorFrame {
    box-sizing: border-box;
    width: 90px;
    height: 150px;
    border-top: var(--unselected);
    border-left: var(--unselected);
    border-right: var(--unselected);
    background: var(--closedDoor);  
    display: flex;
    flex-direction: column;
}

.selected {
    border-top: var(--selected);
    border-left: var(--selected);
    border-right: var(--selected);
}

.open {
    background: var(--openDoor); 
}
