.door {
    width: 100px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    margin: 20px;
}

.doorBase {
    width: 100%;
    height: 5px;
    background-color: lightgrey;
}

.doorLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    font-size: 2rem;
    font-weight: 500;
}

.doorKnob {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    width: 100%;
}

.presentBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 100%;
}
