.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    color: white;
    font-size: 2rem;
}

.menu > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
