.door-knob {
    background-color: brown;
    border: 3px solid brown;
    border-radius: 50%;
    margin-left: 10px;
    padding: 2px;
}

.selected button {
    background-color: yellow;
    border: 3px solid yellow;
}